# .env.example

# JWT Secret for signing tokens
JWT_SECRET=your_jwt_secret_key

# Database URI (for production)
DATABASE_URI=mongodb://localhost:27017/time-capsule-api

# Environment (development, production)
NODE_ENV=development
